/* Cada navegador hace cosas raras, por tanto reiniciamos los estilos.  */
* {
    margin: 0;
    padding: 0;
}

div#cabecera {
    background-color: rgba(238, 220, 220, 0.781);
    color:black;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.noticia {
    padding-top: 20px;
    margin: 0 auto;
    align-self: center;
    display: inline-block;
}

div.noticia > p {
    text-align: justify;
}

#contenido {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

div.noticia > img {
    float:left;
    margin: 2%;
}